.offers
{
  margin-top: 100px;

  &__text
  {
    margin-bottom: 46px;
    text-align: center;
    font-size: 22px;
    font-family: Lora;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.44px;
    text-transform: uppercase;
    color: @black;
  }

  &__button
  {
    display: inline-block;
    width: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &--1
    {
      margin-left: 648px;
      max-width: 272px;
      padding: 15px 35px;
      background-color: @red;
      color: @white;
      transition: background-color 0.2s;

      &:active
      {
        background-color: @red_dark;
      }
    
      &:hover
      {
          @media (hover: hover) {
              background-color: @red_dark;
          }
      }
    }

    &--2
    {
      margin-left: 110px;
      max-width: 250px;
      padding: 15px 40px;
      color: @black;
    }
  }
}