.offers
{
  margin-top: 100px;
  
  &__container
  {
    .container;
    margin-bottom: 200px;
  }

  &__text
  {
    padding-right: 25px;
    padding-left: 40px;
    text-align: center;
    font-size: 22px;
    color: @black;
    font-family: Lora;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.44px;
    text-transform: uppercase;

    &--main
    {
      margin-top: 100px;
      margin-bottom: 46px;
    }

    &--events
    {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  &__wrapper
  {
    display: grid;
    gap: 0 10%;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    grid-template-areas: "hold_event become_tenant";
  }

  &__hold-event-button,
  &__become-tenant-button
  {
    padding: 15px 40px;
    display: flex;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
  }

  &__hold-event-button
  {
    grid-area: hold_event;
    max-width: 272px;
    padding: 15px 35px;
    background-color: @red;
    color: @white;
    transition: background-color 0.2s;

    &:active
    {
      background-color: @red_dark;
    }
  
    &:hover
    {
      @media (hover: hover)
      {
        background-color: @red_dark;
      }
    }
  }

  &__become-tenant-button
  {
    grid-area: become_tenant;
  }
}